name: Push Tag

on:
  pull_request:
    types:
      - closed
    branches:
      - "main"

permissions:
  contents: write

jobs:
  push-tag:
    if: github.event.pull_request.merged == true && startsWith(github.head_ref, 'release/')
    runs-on: ubuntu-24.04
    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.APP_ID_OF_YUMEMI_TAG_PUSHER }}
          private-key: ${{ secrets.APP_PRIVATE_KEY_OF_YUMEMI_TAG_PUSHER }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ steps.generate_token.outputs.token }}
      - name: Extract a version
        id: extract_version
        run: |
          version=$(echo ${{ github.head_ref }} | sed -e 's/release\///')
          # Check version
          # See: https://github.com/dart-lang/pub_semver/blob/3175ba0a58a96fb23f8d68b5f5c44d1a5b30cc16/lib/src/patterns.dart#L6-L9
          if [[ ! "$version" =~ ^([0-9]+)\.([0-9]+)\.([0-9]+)(-([0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*))?(\+([0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*))?$ ]]; then
              echo "Invalid version format: $version"
              exit 1
          fi
          echo "version=$version" >> "$GITHUB_OUTPUT"
      - name: Push a tag
        run: |
          git tag "$VERSION"
          git push origin "$VERSION"
        env:
          VERSION: ${{ steps.extract_version.outputs.version }}
