name: Update Lint Rules

on:
  workflow_dispatch:
  schedule:
    # Schedule at 9 AM JST (0 AM UTC) every Friday
    - cron: '0 0 * * 5'

jobs:
  update:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    env:
      PROGRAM_DIR: tool/tools/update_lint_rules
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          path: lint

      - name: Generate a token
        id: app-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.APP_ID_OF_YUMEMI_PR_TOKEN_GENERATOR }}
          private-key: ${{ secrets.APP_PRIVATE_KEY_OF_YUMEMI_PR_TOKEN_GENERATOR }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: yumemi-inc/flutter-yumemi-lints-tools
          path: tool

      - name: Get dvm config
        uses: blendfactory/dvm-config-action@acdae6fda79f5a230b5424fdf40fcfd9fcd3367b # v2.0.0
        id: dvm-config-action
        with:
          path: "./tool/.dvm/config.json"

      - name: Set up dart
        uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c # v1.7.1
        with:
          sdk: ${{ steps.dvm-config-action.outputs.dart-sdk-version }}

      - name: Install dependencies
        run: dart pub get
        shell: bash
        working-directory: ${{ env.PROGRAM_DIR }}

      - name: Run update_lint_rules
        run: dart run ${{ env.PROGRAM_DIR }}/bin/update_lint_rules.dart ${{ github.workspace }}/lint/lib
        shell: bash

      - name: Create a pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          path: lint
          token: ${{ steps.app-token.outputs.token }}
          author: 'GitHub <noreply@github.com>'
          commit-message: 'auto: Update lint rules'
          title: Update lint rules
          body: This was automatically generated by the [${{ github.workflow }}](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).
          base: main
          branch: ${{ vars.AUTO_UPDATE_BRANCH_NAME }}
          branch-suffix: short-commit-hash
